body {
    background-color:#0e100e;
}

hr {
    border-color: seagreen;
}

.title {
    color:seagreen;
    font-size: 7cap;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 0px;
}

.subtitle {
    color:seagreen;
    font-size: 3cap;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 22px;
}

.gridLeft {
    width: 50%;
    height: 50%;
    float: left;
    background-color: red;
}

.gridRight {
    width: 50%;
    height: 50%;
    float: right;
    background-color: blue;
}